/***********/
/*RESET CSS*/
/***********/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************/
/*FIN RESET CSS*/
/***************/

/* image d'arrière-plan */
#background{
    width:100vw;
    height: 100vh;
    background-image: url(./img/film.png);
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

.display-on {
    display: block;
}

.display-off {
    display: none;
}

.input-recherche {
    width: 100%;   /* pour que le champ de recherche remplisse son conteneur */
}

/* pour que la pagination soit alignée à droite */
.flex-end {
    display: flex;
    justify-content: flex-end;
}
.col-md-6{
	cursor: pointer;
}
.col-md-6:hover{
	background-color: rgb(0, 123, 255)
}